<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head th:insert="/main::head">
    <style>
        *{
            box-sizing: border-box;
        }
        .mg-0{
            margin: 0;

        }
        table th td{
            width: 5px;
        }
        .center-items{
            margin: auto;
            align-items: center;
        }
    </style>



</head>
<body>
<!--<script th:inline="javascript">-->
<!--    $(document).ready(function () {-->
<!--        $("#check").click(function () {-->
<!--            let value = $('#facilityTypeId').val();-->
<!--            if(value == 1){-->
<!--                $("#id-villa-house-des").show();-->
<!--                $("#id-villa-house-number-floors").show();-->
<!--                $("#id-villa-house-standard-room").show();-->
<!--                $("#id-villa-pool-area").show();-->
<!--                $("#id-room-facility-free").hide();-->
<!--            }-->
<!--            if(value == 3){-->
<!--                $("#id-room-facility-free").show();-->
<!--                $("#id-villa-house-des").hide();-->
<!--                $("#id-villa-house-number-floors").hide();-->
<!--                $("#id-villa-house-standard-room").hide();-->
<!--                $("#id-villa-pool-area").hide();-->
<!--            }-->
<!--            if(value == 2){-->
<!--                $("#id-villa-house-des").show();-->
<!--                $("#id-villa-house-number-floors").show();-->
<!--                $("#id-villa-house-standard-room").show();-->
<!--                $("#id-villa-pool-area").hide();-->
<!--                $("#id-room-facility-free").hide();-->

<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->





<div id="main">
    <div th:insert="/main::header"></div>
    <div class="row">
        <th:block th:if="${message}" >
            <h3 th:text="${message}" style="text-align: center;color: blue"></h3>
        </th:block>
    </div>
    <div class="row" style="height: 50px;width: 100%; margin-bottom: 5px;margin-right: 12px">
        <div class="col-md-3" style="display: flex">
            <form class="d-flex" th:action="@{/facility}" style="margin: auto;margin-left: 40px">
                <input class="form-control me-2" type="text" placeholder="Name" name="name" aria-label="Search">
                <select name="facilityTypeId">
                    <option value="-1">Select option</option>
                    <option th:each="facilityType: ${facilityTypeList}"
                            th:selected="${facilityTypeId == facilityType.id}" th:value="${facilityType.id}"
                            th:text="${facilityType.name}"></option>
                </select>
                <button class="btn btn-outline-success" type="submit" style="margin-left: 10px">Search</button>
            </form>
        </div>
        <div class="col-md-7">
            <h1 style="text-align: center;color: #ee00ff"> FCILITY LIST</h1>
        </div>
        <div class="col-md-2  " style="display: flex">
            <a href="/facility/create" style="margin:auto" class="btn btn-primary">Add new Facility</a>
        </div>
    </div>

    <div class="row mg-0" style="min-height: 65vh" >
        <div class="col-md-12">

                <table class="table table-success table-striped" style="height: 5px">
                    <tr>
                        <th>Stt</th>
                        <th>
                            Facility name
                        </th>
                        <th>Area</th>
                        <th>Max people</th>
                        <th>Rent type</th>
                        <th>Facility free</th>
                        <th>Standard room</th>
                        <th>Edit</th>
                        <th>Delete</th>

                    </tr>
                    <th:block th:each="facility,stt : ${facilityList}">
                        <tr>
                            <td th:text="${stt.count}"></td>
                            <td th:text="${facility.name}"></td>
                            <td th:text="${facility.area}"></td>
                            <td th:text="${facility.maxPeople}"></td>
                            <td th:text="${facility.rentType.name}"></td>
                            <td th:text="${facility.facilityFree}"></td>
                            <td th:text="${facility.standardRoom}"></td>
                            <td> <button   type="button" class="btn btn-warning"
                                           data-bs-toggle="modal"
                                           id="check"
                                           data-bs-target="#modalEdit"
                                           th:attr="onclick=|editFacility('${facility.id}','${facility.name}','${facility.area}','${facility.cost}','${facility.maxPeople}','${facility.rentType.id}','${facility.facilityType.id}','${facility.facilityType.name}','${facility.standardRoom}','${facility.descriptionOtherConvenience}','${facility.poolArea}','${facility.numberOfFloors}','${facility.facilityFree}');|">

                                Edit
                            </button></td>

                            <td> <button   type="button" class="btn btn-danger"
                                           data-bs-toggle="modal"
                                           data-bs-target="#modalDelete"
                                           th:attr="onclick=|deleteFacility('${facility.id}','${facility.name}')|">

                                Delete
                            </button></td>
                        </tr>
                    </th:block>
                </table>

            <div class="row" style="display: inline-block" >
                <a style="padding: 0 5px" th:href="@{/facility(page=${facilityList.number - 1})}" th:if="${facilityList.hasPrevious()}"> <button type="button" class="btn btn-outline-success" >Previous</button></a>
                <span style="padding: 0 5px" th:text="${facilityList.number + 1}+'/'+${facilityList.totalPages}"></span>
                <a style="padding: 0 5px" th:href="@{/facility(page=${facilityList.number + 1})}" th:if="${facilityList.hasNext()}"> <button type="button" class="btn btn-outline-success" >Next</button></a>
            </div>
        </div>
    </div>
</div>

    <footer th:replace="/main::footer"></footer>

<!--/// Delete modal ///-->

<div class="modal fade" id="modalDelete" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/facility/delete}" method="post">
                <div class="modal-body">
                    <div class="text-danger" id="deleteName" ></div>
                    <input hidden type="text" name="deleteId" id="deleteId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">NOT SURE
                    </button>
                    <button type="submit" class="btn btn-primary">SURE</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--/// Edit modal ///-->




<div class="modal fade" id="modalEdit" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <script th:inline="javascript" th:if="${hasErrors == true}" >
        $(document).ready(function () {
            showUpEditModal(/*[[${facilityTypeEdit}]]*/); //giữ định dạng modal lúc edit sai
            $("#modalEdit").modal("show");
        });
    </script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">EDIT MODAL</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/facility/edit}" th:object="${editFacilityDto}" method="post">
                <div class="modal-body">
                    <div class="row my-3">
                        <input type="text" th:field="*{id}" id="facilityId" hidden>
                    </div>
                    <div class="row my-3" id="facilityTypeName">
                        <h1 style='text-align: center;color: blue' th:text="${facilityTypeName}"></h1>
                    </div>
                    <div class="row my-2" hidden>
                        <div class="col-md-6">
                            <label>Facility Type</label>
                        </div>
                        <div class="col-md-6">

                            <select th:field="*{facilityType}" id="facilityTypeId" hidden>
                                <option th:each="facilityType1:${facilityTypeList}" th:value="${facilityType1.id}"
                                        th:text="${facilityType1.name}">
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Service Name </label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{name}" id="facilityName"/></label>
                            <p th:errors="*{name}" class="text-danger"></p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Area</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{area}" id="facilityArea"/></label>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Cost</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{cost}" id="facilityCost"/></label>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Max people</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{maxPeople}" id="facilityMaxPeople"/></label>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Rent type</label>
                        </div>
                        <div class="col-md-6">
                            <select th:field="*{rentType}" id="facilityRentType">
                                <option th:each="rentType:${rentTypeList}" th:value="${rentType.id}"
                                        th:text="${rentType.name}">
                                </option>
                            </select>

                        </div>
                    </div>

                    <div class="row my-2" id="id-villa-house-standard-room">
                        <div class="col-md-6" >
                            <label>Standard room</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{standardRoom}" id="standardRoom"/></label>


                        </div>
                    </div>
                    <div class="row my-2" id="id-villa-house-des">
                        <div class="col-md-6">
                            <label>Description other convenience</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{descriptionOtherConvenience}" id="description"/></label>
                        </div>
                    </div>
                    <div class="row my-2" id="id-villa-pool-area">
                        <div class="col-md-6">
                            <label>Pool area</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{poolArea}" id="poolArea"/></label>
                        </div>
                    </div>
                    <div class="row my-2" id="id-villa-house-number-floors">
                        <div class="col-md-6">
                            <label>Number floors</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{numberOfFloors}" id="numberOfFloors"/></label>
                        </div>
                    </div>
                    <div class="row my-2" id="id-room-facility-free" >
                        <div class="col-md-6">
                            <label>Facility free</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{facilityFree}" id="facilityFree"/></label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-bs-dismiss="modal">CLOSE
                        </button>
                        <button type="submit" class="btn btn-primary">EDIT</button>
                    </div></div>
            </form>
        </div>
    </div>
</div>
<!--///end///-->


<script>
    function editFacility(id, name, area, cost, maxPeople, rentType, facilityTypeId,facilityTypeName, standardRoom, descriptionOtherConvenience,poolArea,numberOfFloors,facilityFree) {
        document.getElementById("facilityId").value = id;
        document.getElementById("facilityName").value = name;
        document.getElementById("facilityArea").value = area;
        document.getElementById("facilityCost").value = cost;
        document.getElementById("facilityMaxPeople").value = maxPeople;
        document.getElementById("facilityRentType").value = rentType;
        document.getElementById("facilityTypeId").value = facilityTypeId;
        document.getElementById("standardRoom").value = standardRoom;
        document.getElementById("description").value = descriptionOtherConvenience;
        document.getElementById("poolArea").value = poolArea;
        document.getElementById("numberOfFloors").value = numberOfFloors;
        document.getElementById("facilityFree").value = facilityFree;
        document.getElementById("facilityTypeName").innerHTML = "<h1 style='text-align: center;color: blue' >"+ facilityTypeName+"</h1>";

        showUpEditModal(facilityTypeId)




    }
    function showUpEditModal(value) {

        if(value == 1){
            $("#id-villa-house-des").show();
            $("#id-villa-house-number-floors").show();
            $("#id-villa-house-standard-room").show();
            $("#id-villa-pool-area").show();
            $("#id-room-facility-free").hide();
        }
        if(value == 3){
            $("#id-room-facility-free").show();
            $("#id-villa-house-des").hide();
            $("#id-villa-house-number-floors").hide();
            $("#id-villa-house-standard-room").hide();
            $("#id-villa-pool-area").hide();
        }
        if(value == 2){
            $("#id-villa-house-des").show();
            $("#id-villa-house-number-floors").show();
            $("#id-villa-house-standard-room").show();
            $("#id-villa-pool-area").hide();
            $("#id-room-facility-free").hide();

        }

    }




    function deleteFacility(id, name) {
        document.getElementById("deleteName").innerHTML = "Do you sure to remove this facility ?" +'<br>'  +name;
        document.getElementById("deleteId").value = id;

    }
    $(document).ready(function () {
        $("#check").click(function () {
            let value = $('#facilityTypeId').val();
            if(value == 1){
                $("#id-villa-house-des").show();
                $("#id-villa-house-number-floors").show();
                $("#id-villa-house-standard-room").show();
                $("#id-villa-pool-area").show();
                $("#id-room-facility-free").hide();
            }
            if(value == 3){
                $("#id-room-facility-free").show();
                $("#id-villa-house-des").hide();
                $("#id-villa-house-number-floors").hide();
                $("#id-villa-house-standard-room").hide();
                $("#id-villa-pool-area").hide();
            }
            if(value == 2){
                $("#id-villa-house-des").show();
                $("#id-villa-house-number-floors").show();
                $("#id-villa-house-standard-room").show();
                $("#id-villa-pool-area").hide();
                $("#id-room-facility-free").hide();

            }
        });
    });

</script>

</body>
</html>