<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">

</head>
<body>
<h3>Products</h3>
<p>
    <a th:href="@{/product}">
        Back to product list
    </a>
</p>
<table id="product">
    <thead>
    <tr>
        <th>ID</th>
        <th>CODE</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
        <th>PRODUCER</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${product.id}"></td>
        <td th:text="${product.getCode()}"></td>
        <td th:text="${product.getName()}"></td>
        <td th:text="${product.getPrice()}"></td>
        <td th:text="${product.getDescription()}"></td>
        <td th:text="${product.getProducer()}"></td>

    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>

</body>
</html>