<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit song</title>
</head>
<body>
<h1>Edit Song</h1>
<p>
    <a href="/">Song list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-song}" th:object="${songDto}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Song name</td>
            <td><input type="text" th:field="*{songName}"></td>
            <td th:errors="*{songName}" class="text-danger"></td>
        </tr>
        <tr>
            <td>Singer</td>
            <td><input type="text" th:field="*{singer}"></td>
            <td th:errors="*{singer}" class="text-danger"></td>

        </tr>
        <tr>
            <td>Category</td>
            <td><input type="text" th:field="*{category}"></td>
            <td th:errors="*{category}" class="text-danger"></td>

        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update song"></td>
        </tr>
    </table>
</form>
</body>
</html>