<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head th:insert="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <style>
        *{
            box-sizing: border-box;
        }
        .mg-0{
            margin: 0;

        }
        table th td{
            width: 5px;
        }
        .center-items{
            margin: auto;
            align-items: center;
        }
    </style>



</head>
<body>
<div id="main">
    <div th:insert="/layout::header"></div>
    <div class="row mg-0 align-items-center" style="height: 10vh;background-color: bisque">
        <div class="col-md-2">
            <a href="/customer/create" style="margin-left: 30px;margin-top: 20px" class="btn btn-primary">Add new Customer</a>
        </div>
        <div class="col-md-8">
            <h1 style="color: #c21360;text-align: center">This is navbar</h1>
        </div>
        <div class="col-md-2"></div>

    </div>
    <div class="row">
        <th:block th:if="${message}" >
            <h3 th:text="${message}" style="text-align: center;color: blue"></h3>
        </th:block>
    </div>
    <div class="row" style="height: 50px;width: 100%; margin-bottom: 5px;margin-right: 12px">
        <div class="col-md-3" style="display: flex">
            <form class="d-flex" th:action="@{/customer}" style="margin: auto;margin-left: 40px">
                <input class="form-control me-2" type="text" placeholder="Name" name="name" aria-label="Search">
                <input class="form-control me-2" type="text" placeholder="Email" name="email" aria-label="Search">
                <select name="customerType">
                    <option value="-1">Select</option>
                    <option th:each="customerType: ${customerTypeList}"
                            th:selected="${customerType == customerType.id}" th:value="${customerType.id}"
                            th:text="${customerType.name}"></option>
                </select>
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-7">
            <h1 style="text-align: center;color: #ee00ff"> CUSTOMER LIST</h1>
        </div>
        <div class="col-md-2 center-items">
<!--            <a href="/customer?action=insert" target="_blank" style="margin: auto;background-color: aquamarine"><button>Add new customer</button></a>-->
        </div>
    </div>
    <div class="row mg-0" style="height: 70vh">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-success table-striped" style="height: 5px">
                <tr>
                    <th>Stt</th>
                    <th>
                        Customer
                    </th>
                    <th>Name</th>
                    <th>Birthday</th>
                    <th>Gender</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                <th:block th:each="customer,stt : ${customerList}">
                    <tr>
                        <td th:text="${stt.count}"></td>
                        <td th:text="${customer.customerType.name}"></td>
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.dateOfBirth}"></td>
                        <td th:if="${customer.gender}== true">Male</td>
                        <td th:if="${customer.gender}== false">Female</td>
                        <td th:text="${customer.phoneNumber}"></td>
                        <td th:text="${customer.email}"></td>
                        <td> <button   type="button" class="btn btn-warning"
                                       data-bs-toggle="modal"
                                       data-bs-target="#modalEdit"
                                       th:attr="onclick=|editCustomer('${customer.id}','${customer.name}','${customer.dateOfBirth}','${customer.gender}','${customer.idCard}','${customer.phoneNumber}','${customer.email}','${customer.address}','${customer.customerType}');|">

                            Edit
                        </button></td>
                        <td> <button   type="button" class="btn btn-danger"
                                          data-bs-toggle="modal"
                                          data-bs-target="#modalDelete"
                            th:attr="onclick=|deleteCustomer('${customer.id}','${customer.name}')|">

                            Delete
                        </button></td>
                    </tr>
                </th:block>

            </table>
            <a th:href="@{/customer(page=${customerList.number - 1})}" th:if="${customerList.hasPrevious()}">Previous</a>
            <span th:text="${customerList.number + 1}+'/'+${customerList.totalPages}"></span>
            <a th:href="@{/customer(page=${customerList.number + 1})}" th:if="${customerList.hasNext()}">Next</a>

        </div>
        <div class="col-md-1"></div>


    </div>



    <footer th:replace="/layout::footer"></footer>

</div>
<div class="modal fade" id="modalDelete" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">WARNING</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/delete}" method="post">
                <div class="modal-body">
                    <div class="text-danger" id="deleteName" ></div>
                    <input hidden type="text" name="deleteId" id="deleteId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">NOT SURE
                    </button>
                    <button type="submit" class="btn btn-primary">SURE</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div class="modal fade" id="modalEdit" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">EDIT MODAL</h1>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/customer/edit}" th:object="${editCustomerDto}" method="post">
                <div class="modal-body">
                    <div class="row my-3">
                        <input type="text" id="customerId" hidden>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{name}" id="customerName"/></label>
                            <p th:errors="*{name}" class="text-danger"></p>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Birthday </label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="date" th:field="*{dateOfBirth}" id="customerBirthday"/></label>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6">
<!--                            <th:block th:if="customerGender == true">-->
<!--                                <label><input type="radio" th:field="*{gender}" th:value="true" checked/></label>-->
<!--                                <label th:text="Male"></label>-->

<!--                            </th:block>-->
<!--                            <th:block th:if="customerGender == false">-->
<!--                                <label><input type="radio" th:field="*{gender}" th:value="false" checked/></label>-->
<!--                                <label th:text="Female"></label>-->

<!--                            </th:block>-->
                            <label for="customerGender" class="form-label">Gender:</label>
                            <select id="customerGender" th:field="*{gender}">
                                <option value="true">Male</option>
                                <option value="false">Female</option>
                            </select>



                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>idCard</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{idCard}" id="customerIdCard"/></label>
                            <p th:errors="*{idCard}" class="text-danger"></p>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{phoneNumber}" id="customerPhoneNumber"/></label>
                            <p th:errors="*{phoneNumber}" class="text-danger"></p>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{email}" id="customerEmail"/></label>
                            <p th:errors="*{email}" class="text-danger"></p>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                        <div class="col-md-6">
                            <label><input type="text" th:field="*{address}" id="customerAddress"/></label>
                            <p th:errors="*{address}" class="text-danger"></p>

                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Customer Type</label>
                        </div>
                        <div class="col-md-6">
                            <select th:field="*{customerType}" id="customerType">
                                <option th:each="customerType:${customerTypeList}" th:value="${customerType.id}"
                                        th:text="${customerType.name}">

                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">NOT SURE
                    </button>
                    <button type="submit" class="btn btn-primary">SURE</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    function editCustomer(id, name, dateOfBirth, gender, idCard, phoneNumber, email, address, customerType) {
        document.getElementById("customerId").value = id;
        document.getElementById("customerName").value = name;
        document.getElementById("customerBirthday").value = dateOfBirth;
        document.getElementById("customerGender").value = gender;
        document.getElementById("customerIdCard").value = idCard;
        document.getElementById("customerPhoneNumber").value = phoneNumber;
        document.getElementById("customerEmail").value = email;
        document.getElementById("customerAddress").value = address;
        document.getElementById("customerType").value = customerType;
    }

    // function editCustomer( name) {
    //     // document.getElementById("customerId").value = id;
    //     document.getElementById("customerName").innerHTML = "test abc" + name;
    // }



    function deleteCustomer(id, name) {
        document.getElementById("deleteName").innerHTML = "Do you sure to remove this customer ?" +'<br>'  +name;
        document.getElementById("deleteId").value = id;

    }

</script>

</body>
</html>