<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/main::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="/main::header"></div>
<div class="row" style="height: 50px;width: 100%; margin-bottom: 5px;margin-right: 12px">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <h1 style="text-align: center;color: #ee00ff"> CONTRACT LIST</h1>
    </div>
    <div class="col-md-2  " style="display: flex">
        <a href="/contract/create" style="margin: auto"  class="btn btn-primary">Add new Contract</a>
    </div>
</div>
<div class="row" style="margin-left: 10px">
    <div class="row">
        <table class="table">
            <thead class="table-dark">
            <th>#</th>
            <th>Facility</th>
            <th>Customer</th>
            <th>Start day</th>
            <th>End day</th>
            <th>Deposit</th>
            <th>Total amount</th>
            <th colspan="2">Attach facility</th>
            </thead>
            <th:block th:each="contract,stt : ${contractDtoList}">
                <tbody>
                <td th:text="${stt.count}"></td>
                <td th:text="${contract.getFacility()}"></td>
                <td th:text="${contract.getCustomer()}"></td>
                <td th:text="${contract.getStartDate()}"></td>
                <td th:text="${contract.getEndDate()}"></td>
                <td th:text="${contract.getDeposit()}"></td>
                <td th:text="${contract.getTotalAmount()}"></td>
                <td style="width: 50px">
                    <button data-toggle="modal" data-target="#modalCreate"  type="button" class="btn btn-primary" th:onclick="|(addNewAttachFacility('__${contract.getId()}__','__${contract.getCustomer()}__'))|">
                        +
                    </button>
                </td>
                <td style="width: 370px;text-align: center">
                    <button data-toggle="modal" data-target="#exampleModal" id="show" type="button"
                            class="btn btn-primary" style="width: 340px" th:onclick="|(show('__${contract.getId()}__'))|">
                        Attach facility list
                    </button>
                </td>
                </tbody>
            </th:block>
        </table>
    </div>
    <div class="row" style="display: inline-block" >
        <a style="padding: 0 5px" th:href="@{/contract(page=${contractDtoList.number - 1})}" th:if="${contractDtoList.hasPrevious()}"> <button type="button" class="btn btn-outline-success" >Previous</button></a>
        <span style="padding: 0 5px" th:text="${contractDtoList.number + 1}+'/'+${contractDtoList.totalPages}"></span>
        <a style="padding: 0 5px" th:href="@{/contract(page=${contractDtoList.number + 1})}" th:if="${contractDtoList.hasNext()}"> <button type="button" class="btn btn-outline-success" >Next</button></a>

    </div>

</div>
<!--modal show attach facility List-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">Contract Id</th>
                        <th scope="col">Attach Facility Name</th>
                        <th scope="col">Status</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Quantity</th>
                    </tr>
                    </thead>
                    <tbody id="myBody1">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--end-->














<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script>

    // function addNewAttachFacility(contractId, customerName) {
    //     document.getElementById("contract-id").value = contractId;
    //     document.getElementById("customer-name").value = customerName;
    // }
    // $(document).ready(function () {
    //
    // })


    function show(id) {
        debugger
        let myTable1 = "";
        $("#myBody1").empty();
        $.ajax({

            url: 'http://localhost:8080/contract/attach-facility-list/' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {


                for (let i = 0; i < data.length; i++) {
                    myTable1 +=
                            `
                     <tr>
                         <th scope="row">${i+1}</th>
                         <td>${data[i].contractId}</td>
                         <td>${data[i].attachFacilityName}</td>
                         <td>${data[i].status}</td>
                         <td>${data[i].unit}</td>
                         <td>${data[i].quantity}</td>
                     </tr>
                             `
                }
                debugger
                $("#myBody1").append(myTable1);
            }
        })
    }
    function addNewAttachFacility(contractId,customerName) {
            document.getElementById("contract-id").value = contractId;
            document.getElementById("customer-name").value = customerName;

    }



</script>
<!--// modal add new contract_detail //-->


<div class="modal fade" id="modalCreate" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div  class="modal-dialog" role="document">
        <div style="width: 120%"  class="modal-content">
            <div class="modal-header" style="align-content: center">
                <h2 class="modal-title" id="exampleModalLabel1" style="color: aqua;text-align: center">CREATE NEW ATTACH FACILITY</h2>
                <button type="button" class="close"
                        data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form th:action="@{/contract/contractDetail/create}" th:object="${contractDetail}" method="post">
                <div class="modal-body">
                    <div class="row my-3">
                        <input type="text" th:field="*{id}" hidden>

                    </div>
                    <div class="row my-2">
                        <div class="col-md-6">
                            <label>Contract Id</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" th:field="*{contract}" id="contract-id" readonly>
                        </div>
                    </div>
                    <div class="row my-2" >
                        <div class="col-md-6">
                            <label>Customer</label>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="customer-name" readonly>
                        </div>
                    </div>

                    <div class="row my-2" >
                        <div class="col-md-6">
                            <label>Attach facility</label>
                        </div>
                        <div class="col-md-6">

                            <select th:field="*{attachFacility}" >
                                <option th:each="attachFacility:${attachFacilityList}" th:value="${attachFacility.id}"
                                        th:text="${attachFacility.name}">
                                </option>
                            </select>

                        </div>
                    </div>
                    <div class="row my-2" >
                        <div class="col-md-6">
                            <label>Quantity</label>
                        </div>
                        <div class="col-md-6">
                            <input type="number" th:field="*{quantity}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">CLOSE
                        </button>
                        <button type="submit" class="btn btn-primary">CREATE</button>
                    </div></div>
            </form>
        </div>
    </div>
</div>


</body>
</html>